* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* overflow: hidden; */
}
body {
    /* background-color: rgb(255, 182, 193); */
    background-color: black;
}

/* .mainImageContainer {
    position: fixed;
} */
.mainImageDiv {
    border: 5px solid white;
}
#mainImage {
    height: 100%;
    width: 100%;
    /* margin: auto; */
    object-fit: cover;
    object-position: 50% 25%;
    border-radius: 50%;
} 

#typing-animation {
    z-index: 1;
}

/* Basic styling for the typing animation container */
#typing-animation {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    font-weight: 800;
    color: white;
    white-space: pre; /* To ensure spaces are respected */
  }
  
  /* Styling for the red part of the text */
  .red {
    color: red;
  }
  

.galary {
    position: fixed;
}

#slideImage{
    object-fit: cover;
}

.slideImageInfo {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.slideImageInfo > p {
    margin: 10px auto;
    font-style: italic;
    font-family: monospace;
    font-size: 20px;
    font-weight: 650;
    /* display: block; */
}

canvas {
     /* border : 1px black solid  */
     z-index: 2;
     position: absolute;
     top: 0;
     left: 0;
}